.node {
    width: 25px;
    height: 25px;
    border: .05px solid rgb(169,169,169);
    display: flex;
}

.node-visited {
    background: hsl(204, 86%, 53%);
}

.node-path {
    background: hsl(171, 100%, 41%);
}

.node-icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.node-icon-nav {
    margin-right: auto;
}