.node {
    width: 25px;
    height: 25px;
    border: .05px solid rgb(169,169,169);
    display: flex;
}

.node-visited {
    background: hsl(204, 86%, 53%);
    animation-name: nodeAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.node-path {
    background: hsl(171, 100%, 41%);
    animation-name: nodePathAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.node-icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.node-icon-nav {
    margin-right: auto;
}

@keyframes nodeAnimation {
    from {
        background-color: white;
    }
    /*hsl(234, 80%, 60%)*/
    to {background-color: hsl(204, 86%, 53%);}
}

@keyframes nodePathAnimation {
    from {background-color: hsl(204, 86%, 53%);}
    to {background-color: hsl(171, 100%, 41%);}
}